td {
    border-bottom: none !important;
  }
  a {
    text-decoration: none;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  /* Sidebar */
  .sidebar-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
  }
  .logo {
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  .icon-size,
  .icon-size-save {
    font-size: 2rem;
  }
  .icon-size-save:hover {
    color: rgb(13, 110, 253);
  }
  .product-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
  .table-title th {
    border: none;
  }
  .table-body {
    border-bottom: 1px solid grey;
  }
  .warn {
    position: fixed;
    z-index: 9999;
    text-align: center;
    padding: 10px 10px 0px 10px;
    color: white;
    font-weight: bold;
    right: 60px;
    top: 10px;
    background-color: red;
    animation: warnBackground 4s linear;
    animation-fill-mode: both;
  }
  @keyframes warnBackground {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .hideInfo {
    filter: blur(2.5px);
  }
  .showInfo {
    filter: blur(0);
  }
  
  
  /* Stats */
  
  
  
  
  .yil-stat,.ay-stat,.gun-stat{
    transition: --num 3s;
    font: 800 40px system-ui;
  }
  