@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
a {
  color: rgb(255, 193, 7) !important;
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
}

/* SIDEBAR STYLES*/
.sidebar {
  width: 20%;
  padding: 0;
  height: 100vh;
}

/* Navbar*/
.logoFont {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}

/*Settings*/

.hideInfo {
  filter: blur(2.5px);
}
.showInfo {
  filter: blur(0);
}

/* Home */
.side {
  width: 24%;
  padding: 10px;
}
.side-logo {
  cursor: pointer;
  width: 150px;
  text-align: center;
  font-size: 5rem;
  padding: 13px 17px 0px 10px;
  border-radius: 200px;
}
.side-logo-p {
  font-family: "Pacifico", cursive;
}
.side p {
  font-family: 'Roboto Slab', serif;

}
.home-card {
  cursor: pointer;
  width: 150px;
  text-align: center;
  font-size: 5rem;
  padding: 15px 0px;
  border-radius: 200px;
}
.home-card a {
  color: rgb(33, 37, 41) !important;
}
.home-card a:hover {
  color: white !important;
}
